<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <!-- full-size monitor style sheet-->
        <link href="/public/content/full.css" rel="stylesheet" type="text/css" media="only screen and
        (min-width:960px)">
        <!-- tablet style sheet-->
        <link href="/public/content/tablet.css" rel="stylesheet" type="text/css" media="only screen
        and (min-width:481px) and (max-width:960px)">
        <!-- phone style sheet-->
        <link href="/public/content/phone.css" rel="stylesheet" type="text/css" media="only screen
        and (max-width:480px)">
    </head>
<body>
    <!--Navbar-->
    <div class="header">
        <div class="header-left">
            <a>S.STRICKLAND</a>
        </div>
        <div class="header-right">
            <a href="index.ejs">Home</a>
            <a href="about.ejs">About</a>
            <a href="projects.ejs">Projects</a>
            <a href="contact.ejs">Contact Me</a>
        </div>
      </div>


    <!--Home-->
    <div class="section" id="home">
        <h1>Welcome to My Website</h1>
    </div>
    <div class="picture">
        <img src="/public/assets/images/forrest.jpg" alt="Picture of forrest covered in snow" width="1440" height="810">
    </div>
    <div class="text1">
        <h1>Spencer Strickland</h1>
    </div>
    <div class="footer">
        <p>Spencer Strickland</p>
        <p>spencer.strickland@ontariotechu.net</p>
        <p>All pictures and videos are my own</p>
    </div>
</body>
</html>
