<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projects</title>
        <!-- full-size monitor style sheet-->
        <link href="/public/content/full.css" rel="stylesheet" type="text/css" media="only screen and
        (min-width:960px)">
        <!-- tablet style sheet-->
        <link href="/public/content/tablet.css" rel="stylesheet" type="text/css" media="only screen
        and (min-width:481px) and (max-width:960px)">
        <!-- phone style sheet-->
        <link href="/public/content/phone.css" rel="stylesheet" type="text/css" media="only screen
        and (max-width:480px)">
    </head>
<body>
    <!--Navbar-->
    <div class="header">
        <div class="header-left">
            <a>S.STRICKLAND</a>
        </div>
        <div class="header-right">
            <a href="index.ejs">Home</a>
            <a href="about.ejs">About</a>
            <a href="projects.ejs">Projects</a>
            <a href="contact.ejs">Contact Me</a>
        </div>
      </div>

    <!--Projects-->
    <div class="section" id="projects">
        <h2>My Projects</h2>
    </div>
    <div class="project1">
        <p>This is my final project for Object Oriented Programming where our group had to make a program that does multiple types of encryptions and decyptions.</p>
    </div>
    <br>
    <div class="download">
        <a href="/public/assets/images/oop_final_project.py" download>Download</a>
    </div>
    <br>
    <br>
    <div class="project2">
        <p>More to come...</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="footer">
        <p>Spencer Strickland</p>
        <p>spencer.strickland@ontariotechu.net</p>
        <p>All pictures and videos are my own</p>
    </div>
</body>
</html>
